<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Owen Bean">
        <meta name="description" content="NA Valorant rank player BeanBaller. BeanBaller has been playing Valorant for several years and has mainly play in NA rank. BeanBaller has peak Ascendent rank and was ECAC rookie of month in Feburary 2024 when playing in collegiate esports league.">
        <title>BeanBaller</title>
    </head>

    <body>
        <nav id="nav">
            <div class="trapezoid">
                <h1><a href="/">BeanBaller</a></h1>
            </div>
            <div :class="['nav-content', (showNavBarPhone ? 'show-navbar' : 'hide-navbar')]">
                <ul class="nav-link-list">
                    <li><a href="/clips">Clips</a></li>
                    <li><a href="/rank">Matches</a></li>
                    <div class="spacer"></div>
                    <li><a href="https://www.twitch.tv/beaneballer">TTV</a></li>
                    <li><a href="https://valorantesports.com/en-US/pickems/113482053125573837/picks/1263478127707871988/5090123810564294632">PickEms</a></li>
                </ul>
                <div class="toggle-containers" @click="showNavBarPhone = !showNavBarPhone">
                    <div :class="['arrow', (showNavBarPhone ? 'up-right': 'down')]">V</div>
                    <div :class="['arrow', (showNavBarPhone ? 'up-left': 'down')]">V</div>
                </div>
            </div>
        </nav>

        <main id="main">
            <div id="video-background">
                <video autoplay muted loop id="video-highlight" controle="False">
                    <source src="loop-web-video-720.mp4" type="video/mp4">
                </video>
            </div>

            <div class="header-window">
                <img id="jersey-image" src="bean.png" />
            </div>

            <div class="video-header-container">
                <div class="video-container">
                    <div v-if="clip.loading">Loading...</div>
                    <div v-else-if="clip.errors">Error Loading Clip</div>
                    <video
                        v-else
                        controls
                        class="clip-video">
                        <source :src="clip.clip_data.full_url" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="video-desc">
                    <a class="fetch-more-button-white" href="./clips">View More Clips</a>
                </div>
            </div>

            <div class="rank-window">
                <h2>Rank History</h2>
                <a v-for="rank in rank.rank_history" class="rank-container" :href="'https://tracker.gg/valorant/match/' + rank.match_id" target="_blank">
                    <div class="rank-image-container">
                        <div :class="[rank.map.toLowerCase() + '-bk', 'map-bk']"></div>
                    </div>
                    <div class="rank-info-container">
                        <div class="rank-game-container">
                            <p class="rank-date-txt">{{ rawDateIntRankToDateString(rank.raw_date_int) }}</p>
                            <div class="rank-map-container">
                                <div :class="[rank.character.toLowerCase().replace('/','') + '-bk', 'img']">
                                </div>
                                <div>
                                    <p class="rank-map-score-txt">{{ rank.rounds_won }} : {{ rank.rounds_lost }}</p>
                                    <p class="rank-rr-txt">{{ plusPadString(rank.mmr_change_to_last_game) }} RR</p>
                                </div>
                            </div>
                        </div>
                        <div class="rank-stats-container">
                            <div class="rank-stat-container rank-stat-kda">
                                <p class="rank-stat-txt-header">K/D/A</p>
                                <p class="rank-stat-txt-info">{{ rank.stats.kills }}/{{ rank.stats.deaths }}/{{ rank.stats.assists }}</p>
                            </div>
                            <div class="rank-stat-container">
                                <p class="rank-stat-txt-header">ACS</p>
                                <p class="rank-stat-txt-info">{{ Math.round(rank.stats.score / (rank.rounds_won + rank.rounds_lost)) }}</p>
                            </div>
                            <div class="rank-stat-container">
                                <p class="rank-stat-txt-header">K/D</p>
                                <p class="rank-stat-txt-info">{{ (rank.stats.kills / rank.stats.deaths).toFixed(2) }}</p>
                            </div>
                            <div class="rank-stat-container">
                                <p class="rank-stat-txt-header">DD</p>
                                <p class="rank-stat-txt-info">{{ plusPadString(Math.round((rank.stats.damage_made - rank.stats.damage_received) / (rank.rounds_won + rank.rounds_lost))) }}</p>
                            </div>
                            <div class="rank-stat-container">
                                <p class="rank-stat-txt-header">HS%</p>
                                <p class="rank-stat-txt-info">{{ Math.round((rank.stats.headshots / (rank.stats.headshots + rank.stats.bodyshots + rank.stats.legshots)) * 100) }}%</p>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="fetch-more-button" href="./rank">View More Rank</a>
            </div>
        </main>

        <footer>
            <div class="footer-links">
                <a href="https://valorantesports.com/en-US/pickems/113482053125573837/picks/1263478127707871988/5090123810564294632">PickEms</a>
                <a href="/rank">Matches</a>
                <a href="/clips">Clips</a>
                <a href="https://www.twitch.tv/beaneballer">Twitch</a>
                <a href="https://www.ecacesports.com/2024/03/ecac-esports-announces-player-and-rookie-of-the-month-for-february/">Ex ECAC Rookie</a>
                <a href="https://tracker.gg/valorant/profile/riot/beanballer%20com%23web">Valorant Tracker</a>
            </div>
            <div class="footer-bottom">Host on AWS. <a href="https://github.com/owenbean400/valorant-rank-aws-api">API code</a>. <a href="https://github.com/owenbean400/beanballer-valorant-rank-web">Web Code</a>. Copyright @ Owen Bean</div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>
            const { createApp } = Vue

            const app = createApp({
                data() {
                    return {
                        rank: {
                            rank_history: [],
                            loading: true,
                            errors: false,
                        },
                        clip: {
                            clip_data: null,
                            loading: true,
                            errors: false,
                        }
                    }
                },
                mounted () {
                    axios({
                        method: 'get',
                        url: "https://api.beanballer.com/history?pageLength=3"
                    })
                    .then(response => {
                        this.rank.rank_history = response.data.rank_history;
                        this.rank.loading = false;
                    });
                    axios({
                        method: 'get',
                        url: "https://api.beanballer.com/clips?pageLength=1"
                    })
                    .then(response => {
                        if (response?.data?.clips?.length == 1) {
                            this.clip.clip_data = response.data.clips[0];
                        } else {
                            this.clip.errors = true;
                        }
                        this.clip.loading = false;
                    });
                },
                methods: {
                    rawDateIntRankToDateString(rawDateInt) {
                        let dt = new Date(rawDateInt * 1000);
                        let year = dt.getFullYear();
                        let month = dt.getMonth() + 1;
                        let day = dt.getDate();
                        let hour = ((dt.getHours() + 1) % 12);
                        let minute = dt.getMinutes();
                        let second = dt.getSeconds();
                        let amPm = (dt.getHours() != 23 && dt.getHours() + 1 >= 12) ? "PM" : "AM";
                        let padding = (num) => (((num < 10) ? "0" : "") + num);
                        hour = (hour != 0) ? hour : 12
                        return padding(month) + "/" + padding(day) + "/" + padding(year) + " " + padding(hour) + ":" + padding(minute) + ":" + padding(second) + " " + amPm;
                    },
                    plusPadString(num) {
                        if (num > 0) {
                            return "+" + num;
                        } else {
                            return "" + num;
                        }
                    },
                }
            })

            const navApp = createApp({
                data() {
                    return {
                        showNavBarPhone: false,
                    }
                },
            });

            navApp.mount('#nav')
            app.mount('#main')
        </script>
    </body>
</html>