$bgColor: #EEEEEE

body
    main
        .rank-container
            background-color: rgba(230, 230, 230, 0.9)
            display: flex
            align-items: center
            justify-content: space-around
            padding: 32px 8px
            border-radius: 16px

            .rank-extra-container
                display: grid
                grid-template-columns: auto auto
                justify-content: space-evenly

            .rank-stat-container
                display: grid
                grid-auto-columns: auto
                justify-items: center
                justify-content: center

                .title-txt
                    color: #333
                    font-size: 16px

                .stat-txt
                    color: black
                    font-size: 24px

                .img
                    width: 48px
                    height: 48px
                    background-color: gray
