<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Owen Bean">
        <meta name="description" content="NA Valorant rank player BeanBaller. BeanBaller rank clips with quick multi-kills happening.">
        <title>BeanBaller Clips</title>
    </head>

    <body>
        <nav id="nav">
            <div class="trapezoid">
                <h1><a href="/">BeanBaller</a></h1>
            </div>
            <div :class="['nav-content', (showNavBarPhone ? 'show-navbar' : 'hide-navbar')]">
                <ul class="nav-link-list">
                    <li><a href="/clips">Clips</a></li>
                    <li><a href="/rank">Matches</a></li>
                    <div class="spacer"></div>
                    <li><a href="https://www.twitch.tv/beaneballer">TTV</a></li>
                    <li><a href="https://valorantesports.com/en-US/pickems/113482053125573837/picks/1263478127707871988/5090123810564294632">PickEms</a></li>
                </ul>
                <div class="toggle-containers" @click="showNavBarPhone = !showNavBarPhone">
                    <div :class="['arrow', (showNavBarPhone ? 'up-right': 'down')]">V</div>
                    <div :class="['arrow', (showNavBarPhone ? 'up-left': 'down')]">V</div>
                </div>
            </div>
        </nav>

        <main id="main">
            <div class="clip-headers-container">
                <h2>BeanBaller Clips</h2>
            </div>

            <div class="clips-container">
                <div class="clip-container" v-for="clip in clips">
                    <p>{{ clip.description }}</p>
                    <div class="video-container">
                        <video
                            controls
                            class="clip-video">
                            <source :src="clip.full_url" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <a class="trapezoid" :href="'https://tracker.gg/valorant/match/' + clip.match_id" target="_blank">Tracker Match</a>
                </div>
            </div>
            <div v-if="loading" class="loading-graphic"></div>
            <button v-else-if="lastEvalKey !== ''" @click="fetchMoreClips" class="fetch-more-button">Load More Clips</button>
            <p v-else class="no-clip-txt">No more clips</p>
        </main>

        <footer>
            <div class="footer-links">
                <a href="https://valorantesports.com/en-US/pickems/113482053125573837/picks/1263478127707871988/5090123810564294632">PickEms</a>
                <a href="/rank">Matches</a>
                <a href="/clips">Clips</a>
                <a href="https://www.twitch.tv/beaneballer">Twitch</a>
                <a href="https://www.ecacesports.com/2024/03/ecac-esports-announces-player-and-rookie-of-the-month-for-february/">Ex ECAC Rookie</a>
                <a href="https://tracker.gg/valorant/profile/riot/beanballer%20com%23web">Valorant Tracker</a>
            </div>
            <div class="footer-bottom">Host on AWS. <a href="https://github.com/owenbean400/valorant-rank-aws-api">API code</a>. <a href="https://github.com/owenbean400/beanballer-valorant-rank-web">Web Code</a>. Copyright @ Owen Bean</div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>
            const { createApp } = Vue

            const app = createApp({
                data() {
                    return {
                        clips: [],
                        lastEvalKey: "",
                        loading: true,
                    }
                },
                mounted () {
                    axios({
                        method: 'get',
                        url: "https://api.beanballer.com/clips?pageLength=6&lastEvalKey=" + this.lastEvalKey
                    })
                    .then(response => {
                        this.clips = response.data.clips;
                        this.lastEvalKey = response.data.last_eval_key_uuid;
                        this.loading = false;
                    })
                },
                methods: {
                    fetchMoreClips(event) {
                        if (!this.loading && this.lastEvalKey !== "") {
                            this.loading = true;
                            axios({
                                method: 'get',
                                url: "https://api.beanballer.com/clips?pageLength=6&lastEvalKey=" + this.lastEvalKey
                            })
                            .then(response => {
                                this.clips = [...this.clips, ...response.data.clips];
                                this.lastEvalKey = response.data.last_eval_key_uuid;
                                this.loading = false;
                            })
                        }
                    }
                }
            })


            const navApp = createApp({
                data() {
                    return {
                        showNavBarPhone: false,
                    }
                },
            });

            navApp.mount('#nav')
            app.mount('#main')
        </script>
    </body>
</html>