<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Owen Bean">
        <meta name="description" content="NA Valorant rank player BeanBaller. BeanBaller has been playing Valorant for several years and has mainly play in NA rank. BeanBaller has peak Ascendent rank and was ECAC rookie of month in Feburary 2024 when playing in collegiate esports league.">
        <title>BeanBaller</title>
    </head>

    <body>
        <nav id="nav">
            <div class="trapezoid">
                <h1><a href="/">BeanBaller</a></h1>
            </div>
            <div :class="['nav-content', (showNavBarPhone ? 'show-navbar' : 'hide-navbar')]">
                <ul class="nav-link-list">
                    <li><a href="/clips">Clips</a></li>
                    <li><a href="/rank">Matches</a></li>
                    <div class="spacer"></div>
                    <li><a href="https://www.twitch.tv/beaneballer">TTV</a></li>
                    <li><a href="https://valorantesports.com/en-US/pickems/113482053125573837/picks/1263478127707871988/5090123810564294632">PickEms</a></li>
                </ul>
                <div class="toggle-containers" @click="showNavBarPhone = !showNavBarPhone">
                    <div :class="['arrow', (showNavBarPhone ? 'up-right': 'down')]"></div>
                    <div :class="['arrow', (showNavBarPhone ? 'up-left': 'down')]"></div>
                </div>
            </div>
        </nav>

        <main id="main">

            <div class="ai-menu-container">
                <div class="ai-message-container">
                    <h2>Want to know more about BeanBaller Gameplay?</h2>
                    <div :class="ai.loading ? ['ai-question-container', 'ai-question-container-loading'] : ['ai-question-container']">
                        <input
                            class="ai-question-input"
                            maxlength="100"
                            placeholder="Ask a question about BeanBaller's last 10 Valorant rank games"
                            :value="ai.question"
                            @input="event => ai.question = event.target.value"
                            @keyup.enter="generateQuestionId()"
                            >
                        </input>
                        <button :class="ai.question !== '' ? ['ai-question-button', 'ai-question-button-enable'] : ['ai-question-button', 'ai-question-button-disable']" @click="generateQuestionId()"><svg v-if="ai.question !== ''" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#000000"><path d="M360-144v-144H192l288-336 288 336H600v144H360Zm72-72h96v-144h84L480-514 348-360h84v144ZM192-480l288-336 288 336h-95L480-706 287-480h-95Zm288 120Z"/></svg></button>
                    </div>
                    <div class="ai-question-label-container">
                        <p class="ai-question-label" v-if="ai.loading">Loading...</p>
                        <p class="ai-question-label" v-else-if="ai.error">Error asking question</p>
                        <p class="ai-question-label" v-else>{{ ai.question.length }}/100</p>
                    </div>
                </div>
            </div>

        </main>

        <footer>
            <div class="footer-links">
                <a href="https://valorantesports.com/en-US/pickems/113482053125573837/picks/1263478127707871988/5090123810564294632">PickEms</a>
                <a href="/rank">Matches</a>
                <a href="/clips">Clips</a>
                <a href="/ai">AI Questions</a>
                <a href="https://www.twitch.tv/beaneballer">Twitch</a>
                <a href="https://www.ecacesports.com/2024/03/ecac-esports-announces-player-and-rookie-of-the-month-for-february/">Ex ECAC Rookie</a>
                <a href="https://tracker.gg/valorant/profile/riot/beanballer%20com%23web">Valorant Tracker</a>
                <a href="/privacyPolicy">Privacy Policy</a>
            </div>
            <div class="footer-bottom">Host on AWS. <a href="https://github.com/owenbean400/valorant-rank-aws-api">API code</a>. <a href="https://github.com/owenbean400/beanballer-valorant-rank-web">Web Code</a>. Copyright @ Owen Bean</div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>
            const { createApp } = Vue;

            const app = createApp({
                data() {
                    return {
                        ai: {
                            question: "",
                            jobId: "",
                            error: false,
                            loading: false,
                        }
                    }
                },
                methods: {
                    async generateQuestionId() {
                        if (this.ai.question && this.ai.question !== "" && !this.ai.loading) {
                            this.ai.loading = true;

                            try {
                                const data = {
                                    url: "https://ai.beanballer.com/v1/question",
                                    body: {
                                        question: this.ai.question
                                    },
                                    headers: {
                                        'Accept':       'application/json',
                                        'Content-Type': 'application/json',
                                    }
                                }

                                const response = await axios.post(data.url, data.body, data.headers);

                                if (response.status === 202 && response.data.jobId && response.data.jobId !== "") {
                                    this.ai.error = false;
                                    window.location.href = '/ai/job/?questionId=' + response.data.jobId;
                                    this.ai.loading = false;
                                } else {
                                    this.ai.error = true;
                                    this.ai.loading = false;
                                }
                            } catch (e) {
                                console.error(e);
                                this.ai.error = true;
                                this.ai.loading = false;
                            }
                        }
                    }
                }
            });

            const navApp = createApp({
                data() {
                    return {
                        showNavBarPhone: false,
                    }
                },
            });

            navApp.mount('#nav')
            app.mount('#main')
        </script>
    </body>
</html>